#b11{
    left:50%;
    top:50%;
    transform:translate(-300%, -300%);
}
#b12{
    left:50%;
    top:50%;
    transform:translate(-175%, -300%);
}
#b13{
    left:50%;
    top:50%;
    transform:translate(-50%, -300%);
}
#b14{
    left:50%;
    top:50%;
    transform:translate(75%, -300%);
}
#b15{
    left:50%;
    top:50%;
    transform:translate(200%, -300%);
}
#b21{
    left:50%;
    top:50%;
    transform:translate(-300%, -175%);
}
#b22{
    left:50%;
    top:50%;
    transform:translate(-175%, -175%);
}
#b23{
    left:50%;
    top:50%;
    transform:translate(-50%, -175%);
}
#b24{
    left:50%;
    top:50%;
    transform:translate(75%, -175%);
}
#b25{
    left:50%;
    top:50%;
    transform:translate(200%, -175%);
}
#b31{
    left:50%;
    top:50%;
    transform:translate(-300%, -50%);
}
#b32{
    left:50%;
    top:50%;
    transform:translate(-175%, -50%);
}
#b33{
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}
#b34{
    left:50%;
    top:50%;
    transform:translate(75%, -50%);
}
#b35{
    left:50%;
    top:50%;
    transform:translate(200%, -50%);
}
#b41{
    left:50%;
    top:50%;
    transform:translate(-300%, 75%);
}
#b42{
    left:50%;
    top:50%;
    transform:translate(-175%, 75%);
}
#b43{
    left:50%;
    top:50%;
    transform:translate(-50%, 75%);
}
#b44{
    left:50%;
    top:50%;
    transform:translate(75%, 75%);
}
#b45{
    left:50%;
    top:50%;
    transform:translate(200%, 75%);
}
#b51{
    left:50%;
    top:50%;
    transform:translate(-300%, 200%);
}
#b52{
    left:50%;
    top:50%;
    transform:translate(-175%, 200%);
}
#b53{
    left:50%;
    top:50%;
    transform:translate(-50%, 200%);
}
#b54{
    left:50%;
    top:50%;
    transform:translate(75%, 200%);
}
#b55{
    left:50%;
    top:50%;
    transform:translate(200%, 200%);
}

/*
.c1{
                left:50%;
                transform:translatex(-300%);
            }
            .c2{
                left:50%;
                transform:translatex(-175%);
            }
            .c3{
                left:50%;
                transform:translatex(-50%);
            }
            .c4{
                left:50%;
                transform:translatex(75%);
            }
            .c5{
                left:50%;
                transform:translatex(200%);
            }
*/